<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       ">


<!--
  	<bean name="springRemoteCacheManager" class="org.infinispan.spring.provider.SpringRemoteCacheManagerFactoryBean">
		<property name="configurationPropertiesFileLocation">
			<value>classpath:jdg.properties</value>
		</property>
	</bean>
 -->
 	<bean name="springRemoteCacheManager" class="com.cnpc.dj.cache.SpringRemoteCacheManagerFactoryBean">
		<property name="configurationPropertiesFileLocation">
			<value>classpath:jdg.properties</value>
		</property>
	</bean>
	
 	<bean name="cacheManager" class="com.cnpc.dj.cache.CacheManagerFactoryBean">
		<property name="configurationPropertiesFileLocation">
			<value>classpath:jdg.properties</value>
		</property>
	</bean>	

</beans>